@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    label.select-none.pointer-events-none {
        display: none !important;
    }

    input.relative.transition-all {
        background-color: #18263c;
        color: #fff;
    }
}
